<div class="edit-container">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Edit profile</h1>
      <%= simple_form_for @user do |f| %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :avatar %>
        <%= f.input :avatar_cache, as: :hidden %>
        <%= f.input :band_manager, as: :boolean, checked_value: true, unchecked_value: false %>
        <%= f.input :band_name %>
        <%= f.input :number_of_musicians %>
        <%= f.input :music_type %>
        <%= f.input :band_description %>
        <%= f.input :band_photo %>
         <%= f.input :band_photo_cache, as: :hidden %>
        <%= f.submit "Save", class: "btn btn-info btn-full-width" %>
      <% end %>
    </div>
  </div>
</div>
</div>
