<div class="container">
  <div class="main-container">

    <div class="profil">
      <div class="profil-photo">
        <div class="profile-card">
          <% if @user.avatar.present? %>
            <%= cl_image_tag(@user.avatar, class:"avatar-very-large", crop: :fill) %>
            <p><%= @user.first_name %> <%= @user.last_name %></p>
          <% else %>
            <%= cl_image_tag("http://www.castlehearing.co.uk/wp-content/uploads/2016/03/profile-placeholder.jpg", class:"avatar-very-large", crop: :fill) %>
            <h4><%= link_to "Edit profile", edit_user_path(@user) %></h4>
          <% end %>
        </div>
      </div>
      <div class="profil-places">
      </div>
    </div>

    <div class="today-reservations">
      <h3>Today reservations:</h3>
    </div>
    <div class="pending-reservations">
      <h3>Pending reservations:</h3>
    </div>
    <div class="reservations">
      <h3>All my reservations:</h3>
    </div>
  </div>
</div>
