  <div class="card">
    <%= cl_image_tag place.user.avatar, class: "avatar card-avatar"%>
    <div class="card-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path place.photo, height: 300, width: 400,crop: :fill %>')"> </div>
    <div class="card-content">
      <div class="place-category">
        <p><%= place.category.upcase %></p>
      </div>
      <div class="place-name">
        <h3><%= link_to place.name, place_path(place) %></h3>
      </div>
      <div class="place-price">
        <p><em><%= place.price %>€ per hour</em></p>
      </div>
  </div>
</div>
