<div class="resa-card">
  <div class="resa-details">
    <h5><strong><%= link_to reservation.place.name, place_path(reservation.place), class: "bar-link" %></strong> - <strong><%= reservation.price %>€</strong></h5>
    <h5><strong><%= reservation.date.strftime("%B %d, %Y %I:%M %p") %></strong></h5>
    <p>Duration: <%= reservation.duration %>h</p>
  </div>
  <div class="resa-status">
    <% if reservation.user == current_user && reservation.date.past? %>
      <p class="<%= reservation.status %>"><%= link_to "LEAVE A REVIEW", place_path(reservation.place) %></p>
    <% else %>
      <p class="<%= reservation.status %>"><%= link_to "REVIEWED", place_path(reservation.place) %></p>
    <% end %>
  </div>
  <div class="user text-center">
    <% if reservation.user == current_user %>
      <% if reservation.place.user.avatar.present? %>
        <%= cl_image_tag reservation.place.user.avatar, class: "avatar-large" %>
      <% else %>
        <p><img class="avatar-large" src="http://www.clker.com/cliparts/m/3/I/C/c/2/grey-silhouette-of-man-hi.png" alt="silhouette"></p>
      <% end %>
      <p><%= reservation.place.user.first_name %></p>
    <% else %>
      <% if reservation.user.avatar.present? %>
        <%= cl_image_tag reservation.user.avatar, class: "avatar-large" %>
      <% else %>
        <p><img class="avatar-large" src="http://www.clker.com/cliparts/m/3/I/C/c/2/grey-silhouette-of-man-hi.png" alt="silhouette"></p>
      <% end %>
      <p><%= reservation.user.first_name %></p>
    <% end %>
  </div>
</div>
