<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= cl_image_path @place.photo %>')">
</div>

<div class="container">
  <div class="row">

    <div class="col-md-8">
      <div class="flat-info">
        <div class="recap">
          <p class="category"><%= @place.category.upcase %></p>
          <div class="main-info">
            <div class="title">
              <h2><strong><%= @place.name %></strong></h2>
              <p><%= @place.address %></p>
            </div>
            <div class="user text-center">
              <% if @place.user.avatar.present? %>
                <%= cl_image_tag @place.user.avatar, class: "avatar-large" %>
              <% else %>
                <p><i class="fas fa-glass-martini"></i></p>
              <% end %>
              <p><%= @place.user.first_name %></p>
            </div>
          </div>
          <div class="details">
            <p><i class="fa fa-users"></i> <%= @place.stage_capacity %></p>
            <% if @place.equipped %>
              <p><i class="fa fa-microphone"></i> <%= "fully-equipped" %></p>
            <% else %>
              <p><i class="fa fa-microphone-slash"></i> <%= "not equipped" %></p>
            <% end %>
          </div>
        </div>
        <div class="description">
          <p><%= @place.description %></p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="reservation">
        <div class="price">
          <h4><strong><%= @place.price %>€</strong></h4>
          <p>per hour</p>
        </div>
        <%= simple_form_for [@place, @reservation] do |f| %>
          <%= f.input :date %>
          <%= f.input :duration %>
          <%= f.submit "Book this place", class: "btn btn-danger btn-full-width" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
